{% extends "index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/citas.css') }}">

</head>

<body>
    <!-- =============== Navigation ================ -->

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="{{url_for('static', filename='img/customer01.jpg')}}" alt="">
                    
                </div>
            </div>
                
                        <!-- ================ Order Details List ================= -->
                        <main class="table">
                            <section class="table__header">
                                <h1>CITAS</h1>
                                <div class="input-group">
                                    <input  onclick="searchTable()" onkeyup="searchTable()" id="buscar" type="search" placeholder="Buscar Citas">
                                    <img src="https://cdn.icon-icons.com/icons2/1182/PNG/512/1490129321-rounded10_82180.png">            
                                </div>
                                
                                <div class="export__file">
                                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                                    <input type="checkbox" id="export-file">
                    
                                </div>
                            </section>
                            <section class="table__body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Nombre<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Apellido<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Planas<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Motivo<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Estado<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> FechaInicio<span class="icon-arrow">&UpArrow;</span></th>
                                            <th> Opciones<span class="icon-arrow">&UpArrow;</span></th>
                    
                                        </tr>
                                    </thead>
                                    <tbody id="tabla">
                                    </tbody>
                                </table>
                            </section>
                    
                        </main>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <!-- <script src="assets/js/main.js"></script> -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/binj/mostrar.js')}}"></script>


    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>



<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"> -->

{% endblock %}